@tailwind base;
@tailwind components;
@tailwind utilities;

/* Smooth scrolling */
.carousel-wrapper {
  scroll-behavior: smooth;
}

/* Hide scrollbar for all browsers */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}
